<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Write a card - {{ msg }}</h1>
  <p>Card ID {{ cardId }} associated with RSS feed {{ feedUrl }}</p>
  <p><a href="/">Return to main page</a>.
</body>
</html>
