<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Write a card - Step 2</h1>

  <p>{{ msg }}</p>

  <p>Put the URL of the RSS feed in the box and click "Test"</p>
  <form action="/write3" method="POST">
    <label>
      RSS Feed URL
      <input name="feedUrl" type="text" value="" />
    </label>
    <input type="submit" value="Test" />
  </form>
</body>
</html>
