<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Write a card - step 1</h1>

  <p>Please place the card on the shelf. When you are ready, click 'next'</p>
  <form action="/write2" method="GET">
    <input type="submit" value="Next" />
  </form>
</body>
</html>
